[submodule "DataTools"]
	path = DataTools
	url = https://github.com/felix-cormier/DataTools.git
[submodule "generics_python"]
	path = generics_python
	url = https://github.com/felix-cormier/generics_python.git
[submodule "WatChMaL"]
	path = WatChMaL
	url = https://github.com/WatChMaL/WatChMaL.git
